.home-container {
  padding: 40px;
}

.start-button {
  color: #fff;
}

.home-container h2 {
  font-size: 27px;
  color: #000000;
}

.home-container p {
  font-size: 13px;
  font-weight: 700;
  color: #7e7e7e;
}

.home-container button:hover {
  color: #fff;
}

@media (min-width: 576px) {
  .home-container h2 {
    font-size: 48px;
  }

  .home-container p {
    font-size: 24px;
  }
}
